label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: white;
}

.assign-task-form {
    /* max-width: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* background-color: white; */
}

.assign-task-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
    min-height: 80px;
    background-color: rgba(255, 255, 255, 0.07);
    color: white;
    font-size: 16px;
}

button {
    display: block;
    width: 400px;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid #ddd;
    align-self: center;
}

button:hover {
    background-color: #d6b598;
}

.suggestions {
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    margin-top: 5px;
    background-color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f0f0f0;
}
